body{
    margin: 0px;
    padding: 0px;
    background-color: #EFEAE3; 
}
.navbar{
    list-style-type: none;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 10px 0px ;
    position: fixed;
}
li{
    padding: 10px;  
}
a{
    text-decoration: none;
    
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
    display: none;
	position: absolute;
	background-color: white;
	min-width: 150px;
	box-shadow: 5px 16px 16px 8px rgba(0,0,0,0.4);
	z-index: 1;
  }
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
   .dropdown-menu a:hover {
      background-color: #cccccc;
 }
   .dropdown:hover .dropdown-menu {
      display: block;
 }
/* -------------------------svg-----------------------------------*/
.svg{
    text-align: right;  
}
/* ------------dog----------------------------- */
#dogBody{
    animation: wag 2s  ease-in-out infinite;
    transform-origin: bottom;
    transform-box:content-box;
}
@keyframes wag {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* ------------cat----------------------------- */
#catTail{
    animation: tail 3s infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes tail {
    0%{
        transform: rotate(0deg);
    }
	25% {transform: rotate(9deg);
    }
    50%{
        transform: rotate(-5deg)
    }
    75%{
        transform: rotate(9deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* ------------human----------------------------- */
#manHand{
    animation: hand 2s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#girl_hand{
    animation: ghand 3s ease-in-out infinite;
    transform-origin: top right;
    transform-box:fill-box;
}

@keyframes ghand {
    0%{   transform: translateY(0px);  
    }
    25%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px)
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px); 
    }
}

@keyframes hand {
    0%{
       bottom: 21px;
    }
    to{
        bottom: 11px;
        transform: skew(11deg);
    }
}

/*---------------------------------------------------------------------------------------------------------*/
